.col-xs-12, .navbar{
    background: linear-gradient(rgb(0,50,103),rgb(0,38,80));
    width:100%;

}

.navbar{border-bottom:2px black solid}
.col-xs-12 {margin-top: 2%;
margin-bottom: 2%;
border:2px black solid }
h1 , p{padding: 2%
}
.col-xs-12 > div {margin-top: 7%;
                margin-bottom:7%}
.container-fluid {background: linear-gradient(rgb(0,31,85),rgb(1,25,71));}
body {color: whitesmoke!important}
@media (min-width: 576px) {
    .col-xs-12 img{ width:50% ;}
    .navbar-brand a img {width:27%}
 }


@media (min-width: 768px) {
    
 }

@media (max-width: 991px) {
   
}

@media (min-width: 992px) {
    .col-xs-12 img{width:20% ;
                float: right}
    .small-icons {width: 10%!important;}
    .navbar-brand a img {width:40%}

}


@media (min-width: 1200px) {
   
}