.container-fluid p {margin-top: 2%!important}
body{background-color: rgb(18, 13, 9)!important }
.hidden-materials {display: none;
                width: 100%;
                margin:0 }
.material > div {
        background: linear-gradient(#3f180f,#200c08);
        border:4px black solid;
        border-radius: 5px }

.content-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-item {width: 90%!important}

.material img {width:100%;
        margin-top: 5%;
        border:3px black solid;
        border-radius: 5px;}

iframe {width:95% ;
        border:3px black solid;
        border-radius: 5px;
        margin-top: 5%;
        margin-bottom: 5%;
        height:25em;}
.more {display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: brown;
    border: 3px black solid;
    border-radius: 6px;

    margin: 3%}
.more:hover{
    box-shadow: 0px 0px 10px aliceblue;
    transition-duration: .2s;
}
footer {margin-top:2% }


@media (max-width: 767px) {
    .more {width: 25%;}
}

@media (min-width: 768px) { 
    .more {width: 10%;}
    
}


@media (min-width: 992px) {

}


@media (min-width: 1200px) {
   
}

